{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block body %}

<div class="row clearfix">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="card">

            <div class="header">
                <h2> Roles Permissions</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="body">

                <form id="form_validation" method="POST" action="addNew">


                    {% if errors is not empty %}

                    <div class="col-white alert-danger" style="margin-bottom: 20px;">
                        {{ errors|join(', ') }}
                    </div>

                    {% endif %}

                    <div class="form-group form-float">
                        <div class="form-line">
                            <select class="form-control show-tick" name="roleid">

                                <option value="">-- Roles --</option>

                                {% for role in roles %}
                                <option value="{{ role.id }}">{{ role.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <select class="form-control show-tick" name="moduleid">

                                <option value="">-- Modules --</option>

                                {% for module in modules %}
                                <option value="{{ module.id }}">{{ module.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <select class="form-control show-tick" name="permissionid" multiple>

                                <option value="">-- Permissions --</option>

                                {% for permission in permissions %}

                                    <option value="{{ permission.id }}">{{ permission.name }} - {{ permission.module }}</option>

                                {% endfor %}

                            </select>
                        </div>
                    </div>



                    <button class="btn btn-primary waves-effect" type="submit" value="Submit" name="insert-book">Submit</button>

                </form>

            </div>

        </div>

    </div>

</div>
{% endblock %}


















