{% extends "base.html" %}

{% block title %}Post{% endblock %}

{% block body %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Izmjenite postojeci post</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form id="form_validation" method="POST" action="/books/edit/{{id}}">

                    {% if errors is not empty %}

                    <div class="col-white alert-danger" style="margin-bottom: 20px;">
                        {{ errors|join(',') }}
                    </div>

                    {% endif %}


                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="title" value="{{ title }}" required>
                            <label class="form-label">naslov</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="alias" required value="{{ alias }}">
                            <label class="form-label">Alias</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="author" required value="{{ author }}">
                            <label class="form-label">Ime kategorije</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="publisher" required value="{{ publisher }}">
                            <label class="form-label">Alias</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="category_id" required value="{{ category_id }}">
                            <label class="form-label">Alias</label>
                        </div>
                    </div>

                    <input type="text" name="status" value="{{status}}" hidden>

                    <input type="text" name="id" value="{{id}}" hidden>

                    <button class="btn btn-primary waves-effect" type="submit" value="Submit" name="insert-book">Save
                    </button>

                </form>

                <form id="form_validation" method="POST" action="/books/delete/{{ id }}">
                    <input type="text" name="id" value="{{ post.id }}" hidden>
                    <button class="btn btn-primary waves-effect" type="submit" value="Submit" name="insert-post">delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


















